// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


col-md-3{
	box-shadow:  0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	padding-left: 0px;
}

.logo{
	font-size: 30px;
	color: #a27f41;
	margin-left: 15px;
}

.side-box{
	height: 1000px;
	background-color: white;
	box-shadow:  0px 14px 32px 0px rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 220px;
}


.nav-top > ul{
	display: flex;
	float: right;
	font-size: 15px;
}

li{
	margin-right: 30px;
	list-style: none;
}

.side-nav{
	margin-top: 100px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
}

.main-content{
	margin-top: 100px;
}

.affiliation_select{
	margin-top: 10px;
	margin-bottom: 7px;
}

.main-title{
	font-size: 20px;
	margin-bottom: 20px;
}

.card{
	height: 300px;
	float: left;
	margin:0px 5px 10px 5px;
	box-shadow:  0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	border:none;
}

.card-body{
	overflow: scroll;
}

.user-name{
	font-size: 10px;
}

.top_name_text{
	color: #a27f41;
	font-size: 13px;
}

.user-go{
	margin-bottom: 15px;
	margin-left: 13px;
}


.top-search{
	width: 200px;
}

.actions{
	margin-left: 100px;
	margin-bottom: 10px;
}
