// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
	font-size: 30px;
}

.nav-tabs{
	margin-top: 30px;
	font-size: 15px;
}

.table{
	font-size: 13px;
}

.order-box{
	font-size: 13px;
}

.name-edit{
	width: 420px;
	display: flex;
}

.user_shot_edit{
	box-shadow:  0px 14px 32px 0px rgba(3, 3, 3, 0.3);
}

.profiele-height-box{
	height: 80px;
}


.order-box{
	width: 150px
}