<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



  <title>MOUSA</title>
</head>
<body>
	<div class="col-md-2" style="padding-left: 0">
		<div class="side-box">
			<nav>
				<ul class="side-nav">
					<li>Serch</li>
					<% provide(:first_name, 'All users') %>
					<%#= search_form_for(@q, url: tops_search_path) do |f| %>

				</style>
				<div class="form-group">
					<%#= f.label :first_name, "Name" %>
					<%#= f.search_field :first_name_or_last_name_cont, class: "form-control" %>
				</div>
				<div class="actions"><%#= f.submit "Search",class: 'btn btn-primary' %></div>
				<%# end %>

					<select name="Instrument" class="form-control"  select style="width: 145px">
						<option label="">Instrument
						<option value="Guitar">Guitar</option>
						<option value="Piano">Piano</option>
						<option value="Vocal">Vocal</option>
						<option value="Base">Base</option>
						<option value="Drum">Drum</option>
					</select><br>
					<select name="jenre" class="form-control" select style="width: 145px">
						<option label="">Genre
						<option value="">Pop</option>
						<option value="">Rock</option>
						<option value="">R&B</option>
						<option value="">Jazz</option>
						<option value="">Smooth Jazz</option>
						<option value="">EDM</option>
					</select>
				</ul>
			</nav>
		</div>
   </div>
   <div class="col-md-10">
	<div class="main-content">
		<div class="main-title">Instrument Show</div>
		<h1><%= @instrument.instrument_name %></h1>

		 <%= attachment_image_tag @instrument, :image, :fill, 300, 300, format: 'jpeg' %><br>
		 <a><%= @instrument.introduction %></a><br><br>

		 <%= link_to "Go buy this item","https://users-new.xotic.us/shop/product/x102abbp01-bb-preamp-3042?page=2" , class: 'btn btn-primary' %>

		</div>

	</div>

</body>
</html>


